﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#item1">
                Dados <i class="fa fa-caret-up"></i>
            </a>
        </h4>
    </div>
    <form name="validation">
        <div class="panel-collapse in" id="item1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Rodovia:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputText1" name="highway" ng-model="ctrl.highway.name" required>
                            <!--<span class="help-inline" ng-show="validation.highway.$error.required">O nome da Rodovia é obrigatório!</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Km Inicial:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kmstart" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" id="inputText1" ng-model="ctrl.highway.start" required>
                            <!--<span class="help-inline" ng-show="validation.kmstart.$error.required">O Km é obrigatório!</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Km Final:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kmfinish" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" id="inputText1" ng-model="ctrl.highway.finish" required>
                            <!--<span class="help-inline" ng-show="validation.kmfinish.$error.required">O Km é obrigatório!</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse">
                    Localização <i class="fa fa-caret-up"></i>
                </a>
            </h4>
            <div class="panel-collapse in" id="item1">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <leaflet center="ctrl.map.center" paths="ctrl.map.paths" width="100%" height="400"></leaflet>
                            </div>

                            <div class="col-xs-6">
                                <div class="btn" ngf-select="ctrl.upload($file)">Importar shape file</div>
                                <input type="file" nv-file-select="" uploader="ctrl.uploader" multiple />
                                <table class="table table-hover tabela-pesquisa">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="pname in ctrl.shapeFile.propertyNames">{{pname}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="feature in ctrl.shapeFile.features" ng-click="ctrl.featureSelect(feature)">
                                            <td ng-repeat="fproperties in feature.properties">{{fproperties}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <dialog-confirm title-temp="Salvar" text-temp="Você deseja salvar ?" delete-temp="false" sga-save="ctrl.save()"></dialog-confirm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
