﻿<!-- Search bar -->
<div>
    <searchbar sga-search-service="ctrl.search"></searchbar>

    <!-- Results -->
    <div class="well">
        <table class="table table-hover tabela-pesquisa">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hw in ctrl.search.results" ui-sref="highways.id({id: hw.idhighway})">
            <td>{{hw.name}}</td>
            <td>{{hw.start}}</td>
            <td>{{hw.finish}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
