﻿<div class="form-group">
    <label control-label" ng-required="ctrl.parameter.required">{{ctrl.parameter.description}} </label>
    <div>
        <input type="text" class="form-control" ng-model="ctrl.parameter.value" />
    </div>
    
</div>

