﻿<form class="form-group">
    <label control-label> {{ctrl.parameter.description}}</label>
    <label>
        <input type="radio" ng-model="ctrl.parameter.value" value="true" />
         {{ctrl.parameter.dado1}}
    </label><br/>
    <label>
        <input type="radio" ng-model="ctrl.parameter.value" ng-value="false" />
        {{ctrl.parameter.dado2}}
    </label><br/>
    {{ctrl.parameter.value}}
</form>
