﻿<form name="validation">
    <div class="row">
        <div class="form-group col-sm-4">
            <label>{{ctrl.parameter.description}}:</label>
            <input type="text" class="form-control" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-required="ctrl.parameter.required" ng-model="ctrl.parameter.value" />
       </div>
    </div>
</form>