﻿

<form novalidate editable-form name="validation">

    <div class="panel panel-default" >
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item1">
                    Descritivo <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Prefixo:</label>
                        <div class="col-sm-10">
                            <sga-select sga-selected-value="ctrl.incident.idcontract" sga-items="ctrl.contracts" sga-text-field="name" sga-value-field="idcontract"></sga-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Código:</label>
                        <div class="col-sm-10">
                            <span class="sgaSelect" ng-hide="!ctrl.incident.code">{{ctrl.incident.code}}</span>
                            <span class="sgaSelect" ng-hide="!!ctrl.incident.code">O código será gerado automaticamente</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descrição:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="description" rows="2" ng-model="ctrl.incident.description" required=""></textarea>
                            <span class="help-inline" ng-show="validation.description.$error.required && (validation.$submitted || validation.description.$touched)">A descrição é obrigatório</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Componente:</label>
                        <div class="col-sm-10">

                            <!--Select -->
                            <ol class="nya-bs-select" size="20" ng-model="ctrl.incident.idprogram" data-live-search="true" required="" name="program">
                                <li nya-bs-option="p in ctrl.programs group by  p.partOfName track by p.idprogram" data-value="p.idprogram">
                                    <span class="dropdown-header">{{$group}}</span>
                                    <a>
                                        {{ p.name }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                            <span class="help-inline" ng-show="validation.program.$error.required && (validation.$submitted || validation.program.$touched)">A escolha do programa é obrigatório</span>


                            <!--Select -->

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Elemento(s):</label>
                        <div class="col-sm-10">
                            <tags-input ng-model="ctrl.incident.elementsOfScenario" placeholder="Digite aqui..." display-property="name">
                                <auto-complete source="ctrl.loadElements($query)"></auto-complete>
                            </tags-input>

                            <small>Adicionar: digite a palavra e dê Enter para inserir. Deletar: Clica o X do item</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item2">
                    Localização <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item2">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Km:</label>
                                <div class="col-sm-8">
                                    <input required type="text" name="km" class="form-control" id="inputText3" ng-model="ctrl.incident.positionStart" ng-change="ctrl.updateLocationFields()">
                                    <span class="help-inline" ng-show="validation.km.$error.required && (validation.$submitted || validation.km.$touched)">A indicação do KM é obrigatório</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Sentido:</label>
                                <div class="col-sm-8">
                                    <div class="radio-inline">
                                        <!--Radio buttons name="{{'dir' + $index}}" -->
                                        <div ng-repeat-start="d in  ctrl.directions" class="custom-radio">
                                            <input required type="radio" name="direction" id="{{'dir' + $index}}" ng-model="ctrl.incident.iddirection" ng-value="{{d.idDirection}}">
                                            <label for="{{'dir' + $index}}"></label>
                                        </div>
                                        <span ng-repeat-end class="custom-radio-label">{{d.name}}</span>

                                        <!--Radio buttons-->
                                    </div>
                                    <span class="help-inline" ng-show="validation.direction.$error.required && (validation.$submitted || validation.direction.$touched)">A indicação da direção é obrigatório</span>
                                    <span ng-show="!ctrl.directions">Local não encontrado ou fora do escopo do prefixo</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Local:</label>
                                <div class="col-sm-8">
                                    <sga-select sga-selected-value="ctrl.incident.idhighwaySection" sga-items="ctrl.highwaySections" sga-text-field="name" sga-value-field="idhighwaySection"></sga-select>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="!ctrl.selectedHighwaySection.workSites">
                                <label class="col-sm-4 control-label">Lote:</label>
                                <div class="col-sm-8">
                                    <sga-select sga-selected-value="ctrl.incident.idhighwayWorkSite" sga-items="ctrl.selectedHighwaySection.workSites" sga-text-field="name" sga-value-field="idhighwayWorkSite" sga-empty-message="O local selecionado não tem obras registradas"></sga-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Lado:</label>
                                <div class="col-sm-8">
                                    <div class="radio-inline">

                                        <!--Radio buttons-->
                                        <div>
                                            <div ng-repeat-start="rs in ctrl.roadsides" start="rs in ctrl.roadsides" class="custom-radio">
                                                <input required type="radio" name="roadside" id="{{'rs' + $index}}" ng-model="ctrl.incident.idroadSide" ng-value="{{rs.idRoadSide}}">
                                                <label for="{{'rs' + $index}}"></label>
                                            </div>
                                            <span ng-repeat-end class="custom-radio-label">{{rs.name}}</span>
                                        </div>
                                        <!--Radio buttons-->

                                    </div>
                                    <span class="help-inline" ng-show="validation.roadside.$error.required && (validation.$submitted || validation.roadside.$touched)">A indicação do Lado é obrigatório</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Referência local:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputText4" ng-model="ctrl.incident.reference">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Coordenada(s) (UTM Fuso 23, SIRGAS 2000):</label>
                                <div class="col-sm-8">
                                    <coordinates sga-coordinates="ctrl.incident.coordinate.points" sga-change="ctrl.updateMap()" sga-markers="ctrl.mapMarkers"></coordinates>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <leaflet markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>
                                <!--<leaflet bounds="ctrl.bounds" center="ctrl.center" markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item3">
                    Vistorias <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item3">
            <div class="panel-body">
                <!-- Button trigger modal -->
                <a ng-click="ctrl.addInspection()" class="btn-add" data-tooltip="tooltip" data-placement="right" title="Adicionar nova vistoria"><i class="fa fa-plus"></i> Adicionar Nova</a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nº VISITA</th>
                                <th>DATA</th>
                                <th>QUALIFICAÇÃO</th>
                                <th>OBSERVAÇÃO</th>
                                <th>CONTROLES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="inspection in ctrl.incident.inspections">
                                <td>{{inspection.number}}</td>
                                <td>{{inspection.date | date : 'dd/MM/yyyy' }}</td>
                                <td>{{inspection.status}}</td>
                                <td><input required type="text" class="form-control" ng-model="inspection.comment"></td>
                                <td class="table-controls">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Baixar"><i class="fa fa-download"></i></a>
                                    <a href="#" data-target="#modalVistoria" data-toggle="modal" data-tooltip="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-edit"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Imprimir"><i class="fa fa-print"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.deleteInspection(inspection)" title="Apagar"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="5">
                                    <photo-list sga-photos="inspection.photos" sga-change="ctrl.markInspectionAsChanged(inspection)"></photo-list>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <dialog-confirm title-temp="Salvar" text-temp="Você deseja salvar ?" delete-temp="true" sga-save="ctrl.save()" sga-delete="ctrl.delete()"></dialog-confirm>
  
</form>

