﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="">
                Vistorias <i class="fa fa-caret-up"></i>
            </a>
        </h4>
    </div>
    <div class="panel-collapse in" id="item3">
        <div class="panel-body">
            <!-- Button trigger modal -->
            <a href="#" class="btn-add" data-toggle="modal" data-target="#modalVistoria" data-tooltip="Clique aqui par adicionar uma nova vistoria" data-placement="right"><i class="fa fa-plus"></i> Adicionar Nova</a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nº VISITA</th>
                            <th>DATA</th>
                            <th>QUALIFICAÇÃO</th>
                            <th>OBSERVAÇÃO</th>
                            <th>CONTROLES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="inspection in ctrl.incident.inspections">
                            <td>{{inspection.number}}</td>
                            <td>{{inspection.date | date : 'dd/MM/yyyy' }}</td>
                            <td>{{inspection.status}}</td>
                            <td>{{inspection.comment}}</td>
                            <td class="table-controls">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Baixar"><i class="fa fa-download"></i></a>
                                <a href="#" data-target="#modalVistoria" data-toggle="modal" data-tooltip="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-edit"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Imprimir"><i class="fa fa-print"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Apagar"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td colspan="5">
                                <photo-list sga-photos="inspection.photos"></photo-list>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
