<!DOCTYPE HTML>
<html>
	<meta charset="utf-8"/>
    <head>

        <!--CSS-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/css.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.bootstrap.css"/>


		<!--JS-->
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
        <script src="assets/js/vendor/angular.js"></script>
		<script src="assets/js/vendor/angular-cookies.js"></script>
		<script src="assets/js/vendor/angular-animate.js"></script>
		<script src="assets/js/vendor/nya-bs-select.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
		<script src="assets/js/app.js"></script>

    
    </head>
	
    <body ng-app="codeapp" ng-controller="homeController">
    {{l_equipe}}
    <div class="form-group">
				<label class="col-sm-2 control-label">Categoria:</label>			
				<ol class="nya-bs-select" size="5" ng-model="l_equipee" data-live-search="true">
					<li nya-bs-option="cat in l_equipe" data-value="cat.equipe">
						<a>{{cat.0.equipe}}</a>
					</li>					
				</ol>				
		</div>
    
    </body>
</html>