﻿<!-- Search bar -->
<div ui-view>
    <searchbar sga-search-service="ctrl.search"></searchbar>
    
    <!-- Results -->
    <div class="well">
        <table class="table table-hover tabela-pesquisa">
            <thead>
                <tr>
                    <th>Código da Ocupação</th>
                    <th>Km</th>
                    <th>Estaca</th>
                    <th>Sentido</th>
                    <th>Titular</th>
                    <th>Última atualização</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.search.results" ui-sref="roadsideoccupations.id({id: item.id})">
                    <td>{{item.code}}</td>
                    <td>{{item.positionStart}}</td>
                    <td>{{item.marker}}</td>
                    <td>{{item.direction}}</td>
                    <td>{{item.occupant}}</td>
                    <td>{{(item.performedOn | date: 'dd/MMM/yyyy') || "Sem ações"}}</td>

                    <!--<contrato sga-value="param.value"> </contrato>
        <levantamento sga-idcontrato=""></levantamento>-->

                </tr>
            </tbody>
        </table>
    </div>
</div>