﻿<nav class="nav-side-menu">
    <a href="#" class="toggle-btn" data-toggle="offcanvas" title="Exibe/Esconde menu">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="menu-content">
        <li class="dropdown" ng-repeat="p in ctrl.index.items">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-folder-o"></i> {{p.name}} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="k in p.items">
                    <a class="dropdown-toggle" href={{k.url}} data-toggle="dropdown" data-placement="right" title={{k.name}}>
                        <i class="fa fa-{{k.icon}}"></i>
                        {{k.name}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

