﻿<nav class="navbar navbar-default" data-ui-sref-opts="{reload: true}">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/logo-essati-mini.png" alt="Essati" class="img-responsive logo">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><span class="nome-usuario">{{ctrl.currentUser}}</span></li>
            <!--<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Opções"><i class="fa fa-cog"></i></a></li>-->
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.logout()" title="Sair do sistema"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>
</nav>