﻿<div id="openModal" class="modalDialog overlay" ng-show="ctrl.loadStatus">
    <div>
        <h2>Carregando....</h2>
        <div id="circular3dG">
            <div id="circular3d_1G" class="circular3dG"></div>
            <div id="circular3d_2G" class="circular3dG"></div>
            <div id="circular3d_3G" class="circular3dG"></div>
            <div id="circular3d_4G" class="circular3dG"></div>
            <div id="circular3d_5G" class="circular3dG"></div>
            <div id="circular3d_6G" class="circular3dG"></div>
            <div id="circular3d_7G" class="circular3dG"></div>
            <div id="circular3d_8G" class="circular3dG"></div>
        </div>
    </div>
</div>