﻿<div class="panel panel-default">
    <div class="col-md-9" id="never-padding">       
        <leaflet id="main" lf-center="ctrl.map.center" markers="ctrl.markersMap" width="100%" height="635"> </leaflet>
    </div>
</div>

