﻿<div>
    <div class="imgWrap" ng-repeat="photo in ctrl.photos">
        <a ng-click="ctrl.openLightboxModal($index)">
            <img ng-src="{{photo.thumbnailPath}}" alt="{{photo.description || 'Sem descrição'}}" width="230px" height="150px">
        </a>
        <div class="imgControls" ng-hide="photo.state == 'Deleted' || !ctrl.viewAdd">
            <span class="left">
                <i class="keep-space fa fa-arrow-left " ng-class="$first && 'disabled'" ng-click="ctrl.shiftPhoto($index,-1)"></i>
            </span>
            <span class="middle">
                <i class="fa fa-times" ng-click="ctrl.deletePhoto($index)" ng-show="ctrl.viewAdd == true"></i>
            </span>
            <span class="right">
                <i class="keep-space fa fa-arrow-right" ng-class="$last && 'disabled'" ng-click="ctrl.shiftPhoto($index,1)"></i>
            </span>

        </div>
        <div class="imgMessageDeleted" ng-show="photo.state == 'Deleted'">Será removida</div>
    </div>
    <div class="imgWrap" ng-repeat="file in ctrl.fileQueue" ng-show="ctrl.viewAdd == true">
        <img ngf-thumbnail="file" style="width: 230px; height: 150px" ngf-resize="{width: 230, height: 150, quality: 0.9}">
        <span class="progress" ng-show="file.progress >= 0">
            <div ng-style="{'width': file.progress + '%'}" ng-bind="file.progress < 100 ? file.progress + '%' : 'Carregado' "></div>
        </span>
    </div>
    <div class="btn-addnew" ngf-select="ctrl.uploadFiles($files)" ng-model="ctrl.fileQueue" ngf-multiple="true" ng-show="ctrl.viewAdd == true">
        <a>
            <i class="fa fa-plus-circle"></i><br>
            Adicionar imagem
        </a>
    </div>
</div>