﻿<div >
    <div ng-show="ctrl.items && ctrl.items.length > 1">
        <ol class="nya-bs-select" ng-model="ctrl.selectedValue" data-live-search="true" >
            <li nya-bs-option="item in ctrl.items track by item[ctrl.valueField]" data-value="item[ctrl.valueField]">
                <a>
                    {{ item[ctrl.textField] }}
                </a>
            </li>
        </ol>
    </div>
    <span class="sgaSelect"   ng-show="ctrl.items && ctrl.items.length == 1">{{ctrl.items[0][ctrl.textField]}}</span>
    <span class="sgaSelect"   ng-show="(!ctrl.items || ctrl.items.length == 0)">{{ctrl.emptyMessage}}</span>
</div>