﻿

<form novalidate name="validation">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item1">
                    Titular do Acesso <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Prefixo (Uso interno):</label>
                        <div class="col-sm-10">
                            <sga-select sga-selected-value="ctrl.accessRoad.idcontract" sga-items="ctrl.contracts" sga-text-field="name" sga-value-field="idcontract"></sga-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Código:</label>
                        <div class="col-sm-10">
                            <span class="sgaSelect" ng-hide="!ctrl.accessRoad.code">{{ctrl.accessRoad.code}}</span>
                            <span class="sgaSelect" ng-hide="!!ctrl.accessRoad.code">O código será gerado automaticamente</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome/Razão Social:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="nomerazao" ng-model="ctrl.accessRoad.occupant"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Endereço:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="address" ng-model="ctrl.accessRoad.address"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cidade/UF:</label>
                        <div class="col-sm-10">
                            <sga-select sga-selected-value="ctrl.accessRoad.idcity" sga-items="ctrl.cities" sga-text-field="name" sga-value-field="idterritorialunit" sga-empty-message="Carregando Municípios"></sga-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">CEP (somente números):</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="zipcode" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.zipCode" maxlength="8"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fone:</label>
                        <div class="col-sm-10">
                            <input class="dddphone form-control" name="dddphone" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.telephoneAreaCode" maxlength="3"></input>
                            <input class="phone form-control" name="phone" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.telephone" maxlength="9"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Celular:</label>
                        <div class="col-sm-10">
                            <input class="dddphone form-control" name="dddcell" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.cellPhoneAreaCode" maxlength="3"></input>
                            <input class="phone form-control" name="cell" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.cellPhone" maxlength="9"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fone Proprietário:</label>
                        <div class="col-sm-10">
                            <input class="dddphone form-control" name="ddphoneowner" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.telephoneOfOwnerAreaCode" maxlength="3"></input>
                            <input class="phone form-control" name="phoneowner" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.telephoneOfOwner" maxlength="9"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Folha:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="notarizationpage" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.accessRoad.notarizationPage"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Matrícula:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="notarizationregistrationnumber" ng-model="ctrl.accessRoad.notarizationRegistrationNumber"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cartório:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="notarizedAt" ng-model="ctrl.accessRoad.notarizedAt"></input>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item2">
                    Localização <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item2">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Rodovia:</label>
                                <div class="col-sm-8">
                                    <span class="label-value">BR-040</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Estaca:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="marker" class="form-control" ng-model="ctrl.accessRoad.marker">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Km:</label>
                                <div class="col-sm-8">
                                    <input required smart-float name="km" type="number" class="form-control" id="inputText3" ng-model="ctrl.accessRoad.positionStart" ng-change="ctrl.updateLocationFields()">
                                    <span class="help-inline" ng-show="validation.km.$error.required && (validation.$submitted || validation.km.$touched)">A indicação do KM é obrigatório</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Sentido:</label>
                                <div class="col-sm-8">
                                    <div class="radio-inline">
                                        <!--Radio buttons name="{{'dir' + $index}}" -->
                                        <div ng-repeat-start="d in  ctrl.directions" class="custom-radio">
                                            <input required type="radio" name="direction" id="{{'dir' + $index}}" ng-model="ctrl.accessRoad.iddirection" ng-value="{{d.idDirection}}">
                                            <label for="{{'dir' + $index}}"></label>
                                        </div>
                                        <span ng-repeat-end class="custom-radio-label">{{d.name}}</span>

                                        <!--Radio buttons-->
                                    </div>
                                    <span class="help-inline" ng-show="validation.direction.$error.required && (validation.$submitted || validation.direction.$touched)">A indicação da direção é obrigatório</span>
                                    <span ng-show="!ctrl.directions">Local não encontrado ou fora do escopo do prefixo</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Local:</label>
                                <div class="col-sm-8">
                                    <sga-select sga-selected-value="ctrl.accessRoad.idhighwaySection" sga-items="ctrl.highwaySections" sga-text-field="name" sga-value-field="idhighwaySection"></sga-select>
                                </div>
                            </div>


                            <!--<div class="form-group">
                                <label class="col-sm-4 control-label">Referência local:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputText4" ng-model="ctrl.accessRoad.reference">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Coordenada(s) (Geográfico, SIRGAS 2000):</label>
                                <div class="col-sm-8">
                                    <coordinates sga-coordinates="ctrl.accessRoad.position.points" sga-input-srid="ctrl.accessRoad.position.srid" sga-change="ctrl.updateMap()" sga-markers="ctrl.mapMarkers"></coordinates>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <leaflet markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>
                                <!--<leaflet bounds="ctrl.bounds" center="ctrl.center" markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item3">
                    Dados Complementares <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item3">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo de Acesso:</label>
                        <div class="col-sm-10">

                            <!--Select -->
                            <ol class="nya-bs-select" size="20" ng-model="ctrl.accessRoad.accessTypes" data-live-search="true" required="" name="accessTypes" multiple>
                                <li nya-bs-option="p in ctrl.accessTypes track by p.idaccessType" data-value="p.idaccessType">
                                    <a>
                                        {{ p.name }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                            <span class="help-inline" ng-show="validation.accessTypes.$error.required && (validation.$submitted || validation.accessTypes.$touched)">A escolha de um ou mais tipos é obrigatório</span>


                            <!--Select -->

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Zona:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="zone" id="zoneRural" ng-model="ctrl.accessRoad.idzone" ng-value="1">
                                        <label for="zoneRural"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Rural</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="zone" id="zoneUrban" ng-model="ctrl.accessRoad.idzone" ng-value="2">
                                        <label for="zoneUrban"></label>
                                    </div>
                                    <span class="custom-radio-label">Urbana</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.zone.$error.required && (validation.$submitted || validation.zone.$touched)">A indicação da Zona é obrigatório</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Superfície de Acesso:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="paved" id="pavedYes" ng-model="ctrl.accessRoad.paved" ng-value="true">
                                        <label for="pavedYes"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Pavimentado</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="paved" id="pavedNo" ng-model="ctrl.accessRoad.paved" ng-value="false">
                                        <label for="pavedNo"></label>
                                    </div>
                                    <span class="custom-radio-label">Não Pavimentado</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.paved.$error.required && (validation.$submitted || validation.paved.$touched)">A indicação da Superfície é obrigatório</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Revestimento:</label>
                        <div class="col-sm-10">

                            <!--Select -->
                            <ol class="nya-bs-select" size="20" ng-model="ctrl.accessRoad.pavementTypes" data-live-search="true" required="" name="pavementTypes" multiple>
                                <li nya-bs-option="p in ctrl.pavementTypes track by p.idpavementType" data-value="p.idpavementType">
                                    <a>
                                        {{ p.name }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                            <span class="help-inline" ng-show="validation.pavementTypes.$error.required && (validation.$submitted || validation.pavementTypes.$touched)">A escolha de um ou mais tipos de revistimento é obrigatório</span>


                            <!--Select -->

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Superfície de Acesso:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="vertical-radio">
                                        <div class="custom-radio">
                                            <input required type="radio" name="condition" id="condition1" ng-model="ctrl.accessRoad.idaccessRoadCondition" ng-value="1">
                                            <label for="condition1"></label>
                                        </div>
                                        <span ng-repeat-end class="custom-radio-label">Acesso fechado</span>
                                    </div>
                                    <div class="vertical-radio">
                                        <div class="custom-radio">
                                            <input required type="radio" name="condition" id="condition2" ng-model="ctrl.accessRoad.idaccessRoadCondition" ng-value="2">
                                            <label for="condition2"></label>
                                        </div>
                                        <span class="custom-radio-label">Regulares/autorizados,em condições satisfatórias (nada a providenciar)</span>
                                    </div>
                                    <div class="vertical-radio">
                                        <div class="custom-radio">
                                            <input required type="radio" name="condition" id="condition3" ng-model="ctrl.accessRoad.idaccessRoadCondition" ng-value="3">
                                            <label for="condition3"></label>
                                        </div>
                                        <span class="custom-radio-label">Regulares/autorizados, porém necessitando adequação ou conservação (geometria,pavimento,sinalização,etc.)</span>
                                    </div>
                                    <div class="vertical-radio">
                                        <div class="custom-radio">
                                            <input required type="radio" name="condition" id="condition4" ng-model="ctrl.accessRoad.idaccessRoadCondition" ng-value="4">
                                            <label for="condition4"></label>
                                        </div>
                                        <span class=" custom-radio-label">Irregulares/não autorizados, necessitando de analise do projeto perante normas técnicas vigentes(DNIT, ABNT e ANTT)</span>
                                    </div>
                                    <div class="vertical-radio">
                                        <div class="custom-radio">
                                            <input required type="radio" name="condition" id="condition5" ng-model="ctrl.accessRoad.idaccessRoadCondition" ng-value="5">
                                            <label for="condition5"></label>
                                        </div>
                                        <span class="custom-radio-label">Irregulares/não autorizados, e devem ser fechados, pois apresentam problemas de segurança</span>
                                    </div>


                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.condition.$error.required && (validation.$submitted || validation.condition.$touched)">A indicação da condição de acesso é obrigatório</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item4">
                    Observações <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item4">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Observações:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="remarks" ng-model="ctrl.accessRoad.remarks" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item5">
                    Fotos <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item5">
            <div class="panel-body">
                <photo-list sga-photos="ctrl.accessRoad.photos" sga-add="true"></photo-list>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item5">
                    Ações <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item5">
            <div class="panel-body">
                <!-- Button trigger modal -->
                <a ng-click="ctrl.addInspection()" class="btn-add" data-tooltip="tooltip" data-placement="right" title="Adicionar nova ação"><i class="fa fa-plus"></i> Adicionar Nova Ação</a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th style="width:250px">DATA</th>
                                <th>DESCRIÇÃO</th>
                                <th>RESUMO</th>
                                <th>NOTIFICAÇÃO</th>
                                <th>STATUS PROC.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inspection in ctrl.accessRoad.actions">
                                <td style="width: 250px">
                                    <input style="width: 153px; float: left" name="{{'date' + $index}}" type="text" class="form-control" show-weeks="ctrl.showWeeks" ng-change="ctrl.markInspectionAsChanged(inspection)"
                                           ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           datetime="dd/MM/yyyy" ng-model="inspection.performedOn" is-open="inspection.isOpen" close-text="Fechar" ng-required="" />
                                    <span style="width:20px" class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar(inspection)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </td>
                                <td><input class="form-control" name="nomerazao" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.description"></input> </td>
                                <td><input class="form-control" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.resume"> </td>
                                <td>
                                    <sga-select sga-change="ctrl.markInspectionAsChanged(inspection)" sga-selected-value="inspection.idnotificationType" sga-items="ctrl.notificationTypeLookup" sga-text-field="name" sga-value-field="idnotificationType"></sga-select>
                                </td>
                                <td>
                                    <!--<input class="form-control" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.idstatusJudicialProcess">-->
                                    <sga-select sga-change="ctrl.markInspectionAsChanged(inspection)" sga-selected-value="inspection.idjudicialProcessStatus" sga-items="ctrl.judicialProcessStatusLookup" sga-text-field="name" sga-value-field="idjudicialProcessStatus"></sga-select>
                                </td>
                                <td class="table-controls">
                                    <span style="color: red;font-weight: bold" ng-show="inspection.state == 'Deleted'">Ação será removida</span>
                                    <a href="#" data-toggle="tooltip" ng-show="inspection.state != 'Deleted'" data-placement="bottom" ng-click="ctrl.deleteInspection(inspection)" title="Apagar"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <dialog-confirm title-temp="Salvar" text-temp="Você deseja salvar ?" delete-temp="true" sga-save="ctrl.save()" sga-delete="ctrl.delete()"></dialog-confirm>

</form>

