﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#item1">
                Descritivo <i class="fa fa-caret-up"></i>
            </a>
        </h4>
    </div>
    <div class="panel-collapse in" id="item1" ng-repeat="p in ctrl.temp.displayMembers">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{p.displayName}}:</label>
                    <div class="col-sm-10" ng-repeat="(key, value) in ctrl.temp">
                        <div ng-show="p.propertyName === key">
                            <input ng-show="p.type === 'datetime'" name="date" type="datetime" class="form-control"
                                   uib-datepicker-popup="dd/MM/yyyy HH:mm" datepicker-options="dateOptions"
                                   datetime="dd/MM/yyyy HH:mm" ng-model="value" placeholder="dd/MM/yyyy HH:mm" />
                            <span ng-show="p.type !== 'datetime'">{{value}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="panel-collapse in" id="item5">
        <div class="panel-body">
            <div ng-repeat="ph in ctrl.temp">
                <photo-list sga-photos="ph.photos" sga-add="false"></photo-list>
            </div>
        </div>
    </div>-->
</div>











