﻿<div class="panel panel-default">
    <div class="panel-collapse in" id="item1">
        <div class="panel-body">
            <form name="validation" novalidate>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Organização:</label>
                        <ol class="nya-bs-select" size="20" ng-model="ctrl.getuser.person.idorganization" data-live-search="true">
                            <li nya-bs-option="org in ctrl.organization" data-value="org.idorganization">
                                <a>{{org.shortName}}</a>
                            </li>
                        </ol>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="ctrl.getuser.person.name" required />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Digite o E-mail" ng-model="ctrl.getuser.email" ng-change="ctrl.check()" required />
                            <span class="help-inline" ng-show="ctrl.checkuser == true">O email já existe</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Senha:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,10}" placeholder="Digite a Senha" ng-model="ctrl.getuser.password" required />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefone:</label>
                        <div class="col-sm-10">
                            <input class="phone form-control" maxlength="12" name="phone" placeholder="Digite o Telefone" ng-model="ctrl.getuser.phonenumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Celular:</label>
                        <div class="col-sm-10">
                            <input class="phone form-control" maxlength="12" name="phone"  placeholder="Digite o Telefone" ng-model="ctrl.getuser.person.cell" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel-heading">
    <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#item2">Permissão do Usuário</a>
    </h4>
</div>
<div class="panel-collapse in" id="item2">
    <div class="panel-body">
        <a ng-click="ctrl.add()" class="btn-add" data-tooltip="tooltip" data-placement="right" title="Adicionar nova Permissão"><i class="fa fa-plus"></i>Adicionar Permissão</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Permissão</th>
                        <th>Administrador</th>
                        <th>Contratos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="rol in ctrl.getuser.userRoles">
                        <td>
                            <ol class="nya-bs-select" size="5" ng-model="rol.idrole" data-live-search="true">
                                <li nya-bs-option="roles in ctrl.listroles group by roles.moduleName" data-value="roles.idrole">
                                    <span class="dropdown-header">{{$group}}</span>
                                    <a>
                                        {{roles.name}}
                                    </a>
                                </li>
                            </ol>
                        </td>
                        <td>
                            <div>
                                <div>
                                    <input type="checkbox" ng-model="rol.isAdmin" ng-init="rol.isAdmin=false">
                                    <label>Perfil Administrador</label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <tags-input add-from-autocomplete-only="true" ng-model="rol.contracts" placeholder="Digite aqui..." display-property="prefix" ng-disabled="rol.isAdmin">
                                <auto-complete min-length="0" source="ctrl.listcontract($query)"></auto-complete>
                            </tags-input>
                        </td>
                        <td class="table-controls">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.delete()" title="Apagar"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="form-group">
        <dialog-confirm title-temp="Salvar" text-temp="Você deseja salvar ?" delete-temp="false" sga-save="ctrl.save()"></dialog-confirm>
    </div>
</div>
