﻿<div>
   
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#item1">
                Usuários Cadastrados 
            </a>
        </h4>
    </div>
    <searchbar sga-search-service="ctrl.search"></searchbar>
    
    
    <div class="well">
        <table class="table table-hover tabela-pesquisa">
            <thead >
                <tr>
                    <th ng-repeat="des in ctrl.search.searchTypes">{{des.description}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.search.results" ui-sref="account.id({email: user.email})">
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.companyname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
